body {
  font-family: Arial, sans-serif;
}

article > h1{
  color: red;
}

article > section > h1{
  color:blue;
}

h1 + p{
  font-weight: bold;
}

section > h1{
  text-decoration: underline;
}

section > h2{
  text-decoration: underline;
}

section > h3{
  text-decoration: underline;
}
